@using System.Web.Optimization;
@Styles.Render("~/Content/login")
@Scripts.Render("~/Scripts/Login/Index")

<div class="login-container">
	<div class="login-label">LOGIN</div>

	<div class="credential-error hidden">
		Invalid credentials
	</div>

	<div class="credential">
		<input id="username" class="login-credential" type="text" placeholder="Username">
	</div>
	<div class="credential">
		<input id="password" class="login-credential" type="password" placeholder="Password">
	</div>
	<div class="login-button-container">
		<div class="login-button">LOGIN</div>
	</div>
</div>