@using System.Web.Optimization;
@Styles.Render("~/Content/login")
@Scripts.Render("~/Scripts/login")

<div class="login-container">
	<div class="login-label">TENDERLOIN</div>

	<div class="credential">
		<div class="label"></div>
		<input class="username login-credential" type="text" placeholder="Username">
	</div>
	<div class="credential">
		<div class="label"></div>
		<input class="password login-credential" type="password" placeholder="Password">
	</div>
	<div class="login-button-container">
		<div class="login-button">LOGIN</div>
	</div>
</div>