@import "generic.scss";

.forgot-password-content-container{
	@extend .center-position;
	position: absolute;
	width: 380px;
	min-width: 380px;
    height: 340px;
}

.forgot-password-container{
    @extend .center-position;
    position: relative;
	width: 380px;
	min-width: 380px;
	height: 310px;
	background-color: white;
	color: $theme_color;
	border: solid 1px $main_border_color;

    & .forgot-password-label{
		@extend .center-position;
		width: 90%;
		height: 75px;
		text-align: center;
		line-height: 75px;
		color: $theme_color;
		font-size: 20px;
		border-bottom: solid 1px $main_border_color;
        margin-bottom: 10px;
	} // & .forgot-password-label{

    & .credential-invalid{
		@extend .center-position;
		position: absolute;
		width: 150px;
		height: 40px;
		border-radius: 4px;
		background-color: red;
		margin-top: -50px;
		text-align: center;
		line-height: 40px;
		color: white;

		&:before{
			content: "";
			width: 0;
			height: 0;
			border-top: 8px solid red;
			border-bottom: 8px solid transparent;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			position: absolute;
			left: 45%;
			bottom: -16px;
		}

	} // & .credential-error{

    & .forgot-password-button-container{
		position: absolute;
		width: 100%;
		height: calc(100% - 225px);

		& > .forgot-password-button{
			@extend .center-position;
			@extend  .unselectable;
			position: absolute;
			width: 100px;
			height: 40px;
			margin-top: 10px;
			text-align: center;
			line-height: 40px;
			background-color: $background-color;
			color: white;
			border: solid 1px $main_border_color;

			&:hover{
				background-color: $theme-color;
				cursor: pointer;
			}

			&:active{
				background-color: $theme_color_dark;
			}

		} // & > .forgot-password-button{

	} // & .forgot-password-button-container{

    & .credential{
        width: 100%;
        height: 75px;
		position: relative;

        & .credential-label{
            @extend .center-position;
            position: relative;
            width: 90%;
            height: 17px;
            font-size: 10px;
            line-height: 17px;
            color: black;
        }

        & .credential-error{
            @extend .center-position;
            position: relative;
			width: auto;
            height: 40px;
            border-radius: 4px;
            background-color: red;
            text-align: left;
            line-height: 40px;
            color: white;
			padding-left: 10px;
			padding-right: 10px;
			margin-left: 380px;

			display: inline-block;
			white-space: nowrap;

			& .error-message{
				@extend .center-position;
            	position: relative;
    			overflow: hidden;
				float: left;
			}

            &:before{
                content: "";
                width: 0;
                height: 0;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left: 8px solid transparent;
                border-right: 8px solid red;
                position: absolute;
                top: 30%;
                left: -16px;
            }

        } // & .credential-error{

        & .input-error{
            border: solid 1px red;
        }

        & .forgot-password-credential{
            @extend .center-position;
			position: absolute;
			width: 90%;
			height: 40px;
			font-size: 15px;
			padding-left: 10px;
			padding-right: 10px;

            &::-webkit-input-placeholder {
				font-weight: 300;
			}

			&:-moz-placeholder {
				font-weight: 300;
			}

			&::-moz-placeholder {
				font-weight: 300;
			}

			&:-ms-input-placeholder {
				font-weight: 300;
			}

			&:focus{
				outline: none;
				border: solid 1px $theme_color;
			}

        } // & .forgot-password-credential{

    } // & .credential{

} // .forgot-password-container{

.options-container{
	@extend .center-position;
	position: relative;
	width: 380px;
	min-width: 380px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;

	& a{
		text-decoration: none !important;
		color: gray;

		&:visited{
			color: gray;
		}

		&:hover{
			color: black;
		}

	}

	.login-link{
		float: left;
	}

    .register-link{
        float: right;
    }

} // .options-container{