@using System.Web.Optimization;
@Styles.Render("~/Content/home")

@{
    ViewBag.Title = "REDBOOK - Home";
}

<div class="newsfeed-container">
	<div class="update-status">
		<input class="update-status-panel" type="text" placeholder="Watts on you're mine?">
	</div>
	<div class="newsfeed-item">
	</div>
	<div class="newsfeed-item">
	</div>
	<div class="newsfeed-item">
	</div>
	<div class="newsfeed-item">
	</div>
	<div class="newsfeed-item">
	</div>
	<div class="newsfeed-item">
	</div>
	<div class="newsfeed-item">
	</div>
</div>