@using System.Web.Optimization;
@Styles.Render("~/Content/login")
@Scripts.Render("~/Scripts/Login/Index")

@{
    ViewBag.Title = "REDBOOK - Sign in";
}

<div class="login-content-container">

	<div class="login-container">
		<div class="login-label">REDBOOK</div>

		<div class="credential-error hidden">
			Invalid credentials
		</div>

		<div class="credential">
			<input id="username" class="login-credential" type="text" placeholder="Username">
		</div>

		<div class="credential">
			<input id="password" class="login-credential" type="password" placeholder="Password">
		</div>

		<div class="login-button-container">
			<div class="login-button">SIGN IN</div>
		</div>
	</div>

	<div class="options-container">
		<a class="register-link" href="@Url.Action("Register", "Login")">Create an account</a> 
		<a class="forgot-password-link" href="@Url.Action("ForgotPassword", "Login")">Forgot password</a>
	</div>

</div>
