@using System.Web.Optimization;
@Styles.Render("~/Content/ForgotPassword")
@Scripts.Render("~/Scripts/Login/ForgotPassword")

@{
    ViewBag.Title = "MUKHANG LIBRO - Forgot password";
}

<div class="forgot-password-content-container">
    
    <div class="forgot-password-container">

        <div class="forgot-password-label">FORGOT PASSWORD REQUEST</div>

        <!--<div class="credential-invalid hidden">
			Invalid credentials
		</div>-->

        <div class="credential">
            <div class="credential-label">EMAIL</div>
			<input id="email" class="forgot-password-credential" type="text">
            <div class="credential-error hidden">
                <!--This field is invalid!-->
                <div class="error-message"></div>
            </div>
		</div>

        <div class="forgot-password-button-container">
			<div class="forgot-password-button">SUBMIT</div>
		</div>

    </div>

    <div class="options-container">
        <a class="register-link" href="@Url.Action("Register", "Account")">Create an account</a>
        <a class="login-link" href="@Url.Action("Index", "Account")">Sign in</a>
    </div>

</div>