@using System.Web.Optimization;
@Styles.Render("~/Content/Register")
@Scripts.Render("~/Scripts/Login/Register")

@{
    ViewBag.Title = "MUKHANG LIBRO - Sign up";
}

<div class="register-content-container">

    <div class="register-container">
        <div class="register-label">CREATE ACCOUNT</div>

        <div class="credential">
            <div class="credential-label">USERNAME</div>
			<input id="username" class="register-credential" type="text">
            <div class="credential-error hidden">
                <!--This field is invalid!-->
                <div class="error-message"></div>
            </div>
		</div>

        <div class="credential">
            <div class="credential-label">EMAIL</div>
			<input id="email" class="register-credential" type="text">
            <div class="credential-error hidden">
                <!--This field is invalid!-->
                <div class="error-message"></div>
            </div>
		</div>

        <div class="credential">
            <div class="credential-label">PASSWORD</div>
			<input id="password" class="register-credential" type="password">
            <div class="credential-error hidden">
                <!--This field is invalid!-->
                <div class="error-message"></div>
            </div>
		</div>

        <div class="credential">
            <div class="credential-label">CONFIRM PASSWORD</div>
            <input id="password-confirm" class="register-credential" type="password">           
            <div class="credential-error hidden">
                <!--Password did not match!-->
                <div class="error-message"></div>
            </div>
		</div>

        <div class="register-button-container">
			<div class="register-button">REGISTER</div>
		</div>
    </div>

    <div class="options-container">
        <a class="login-link" href="@Url.Action("Index", "Account")">Sign in</a>
        <a class="forgot-password-link" href="@Url.Action("ForgotPassword", "Account")">Forgot Password</a>
    </div>

</div>